body {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
header {
	display: grid;
	grid-template-columns: 300px auto 400px;
}
#logo {
	display: grid;
	grid-template-rows: auto auto;
	font-size: 20pt;
}
#logo p, #logo img {
	justify-self: center;
}
	
#clothing, #socials {
	display: grid;
	grid-template-columns: 100%;  
	font-size: 13pt;
}
#clothing h3, #socials h3 {
	justify-self: center;
}
#menu {
	display: grid;
	grid-column-start: 3;
	align-self: center;
	grid-template-columns: 100px 100px 100px 100px;
}
#menu li {
	list-style: none;
}
#menu a {
	color: black;
	font-size: 15pt;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}	
	
main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: space-around;	
}
main img {
	width: 100%;
	max-width: 350px;
	padding: 10px;
	border:3px double #BC8F8F; 
	
}
	
footer {
	display: grid;
	grid-template-columns:40px 40px 40px;
	justify-content: center;
	margin-bottom: 50px;
}
footer  img {
	width: 100%;
	max-width: 35px;
	justify-self: center;
}